@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');

$text-color: #6b7280;

@mixin shadow {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 12px;
    border-radius: 5px;
    cursor: move;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &-bottom {
        display: flex;
        flex-direction: row;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 243px;
    height: 448px;
    border: 2px dashed #c4c4c4;
    border-radius: 6px;

    * {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1) !important;
        cursor: pointer;
        opacity: 1 !important;
    }

    .digits,
    .math-symbols {
        button {
            transition: all 0.2s ease;
        }
        button:hover {
            border: 2px solid #5d5fef;
            transition: all 0.2s ease;
        }
        button:active {
            background-color: #5d5fef;
            color: #fff;
            transition: all 0.2s ease;
            transform: scale(1.15, 1.15);
        }
    }

    .canvas-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 127px;
        text-align: center;

        img {
            width: 22px;
            height: 22px;
            margin-bottom: 12px;
        }

        h1 {
            line-height: 17px;
            font-size: 14px;
            font-weight: 500;
            color: #5d5fef;
            margin-bottom: 4px;
        }

        p {
            font-size: 12px;
            font-weight: 400;
            color: $text-color;
            line-height: 15px;
        }
    }
}

.board {
    width: 243px;
    height: 448px;
    margin-right: 56px;

    button {
        pointer-events: none;
    }
}

.display {
    @include shadow();
    justify-content: center;
    width: 240px;
    height: 60px;

    h1 {
        width: 232px;
        height: 52px;
        background-color: #f3f4f6;
        border-radius: 6px;
        text-align: right;
        padding: 4px 8px 4px 0;
        color: #111827;
        font-weight: 800;
        font-size: 36px;
    }
}

.math-symbols {
    @include shadow();
    justify-content: space-between;
    width: 240px;
    height: 56px;
    padding: 0 4px 0 4px;

    button {
        display: inherit;
        align-items: center;
        justify-content: center;
        border: 1px solid #e2e3e5;
        width: 52px;
        height: 48px;
        border-radius: 6px;
        background: inherit;
    }
}

.digits {
    @include shadow();
    justify-content: center;
    flex-wrap: wrap;
    width: 240px;

    button {
        display: inherit;
        align-items: center;
        justify-content: center;
        border: 1px solid #e2e3e5;
        width: 72px;
        height: 48px;
        border-radius: 6px;
        margin: 4px 4px 4px 4px;
        background: inherit;
    }

    .digits-zero {
        width: 152px;
    }
}

.equals {
    @include shadow();
    justify-content: center;
    width: 240px;
    height: 72px;

    button {
        display: inherit;
        align-items: center;
        justify-content: center;
        width: 232px;
        height: 64px;
        background-color: #5d5fef;
        color: #fff;
        border-radius: 5px;
        border: none;
    }
}

.toggler {
    display: flex;
    flex-direction: row;
    width: 243px;
    margin-right: -300px;
    margin-bottom: 30px;
    color: #4d5562;
    background-color: #f3f4f6;
    border-radius: 6px;

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        background-color: #f3f4f6;
        padding: 8px 12px;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #f3f4f6;
        cursor: pointer;

        svg {
            margin-right: 8px;
        }
    }

    .active-btn:focus,
    .active-btn {
        border: 1px solid #e2e3e5;
        background-color: #ffffff;
    }
}
